.playerData {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;

  div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    p {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.5rem;
      width: 15ch;
      margin-bottom: 0.75rem;
      line-height: 1.4rem;
      font-size: 1.3rem;
      line-height: 1.3rem;
      text-align: center;
      color: white;
    }
  }

  .playerCoins {
    background-color: #256100;
    padding: 1rem 0.75rem;
    border-radius: 1rem;
    gap: 0.25rem;

    p {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.5rem;
      margin-bottom: 0.75rem;
      line-height: 1.4rem;
      font-size: 1.5rem;
      text-align: center;
      font-weight: 800;
      color: white;
    }
  }
}
